<div class="panel panel-primary">

  <div class="panel-heading">
    <h2 class="panel-title">Prioritized Items</h2>
  </div>

  <div class="panel-body">

    <ul class="list-group">

      <li class="list-group-item" ng-click="prioritize(item, moving.item)" ng-repeat="item in items | filter:prioritizedItems | orderBy:priority">

      <span class="label label-primary">Priority {{item.priorities[id]}}</span>
      &nbsp;
      <span class="badge">{{item.id}}</span>

      {{item.title}}

      </li>

    </ul>

  </div>

</div>
