<div class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title">Add items to the queue</h3>
  </div>

  <div class="panel-body">

    <form ng-submit="addItem(item)">

      <div class="form-group">

        <label for="itemTitle">Title</label>

        <input class="form-control" id="itemTitle" placeholder="Title"
        type="text" ng-required ng-model="item.title" />

      </div>

      <button type="submit" class="btn btn-primary">Add Item</button>

    </form>

  </div>

</div>

<div class="panel panel-primary">

  <div class="panel-heading">
    <h2 class="panel-title">Queue</h2>
  </div>

  <div class="panel-body">

    <div ng-switch="(items | filter:queueItems).length > 0">

      <div ng-switch-when="true" class="list-group">

        <a ng-href="" class="list-group-item" ng-class="{'active': isMoving(item)}"
          ng-click="toggleMoving(item)" ng-repeat="item in items | filter:queueItems">

          <span class="badge">{{item.id}}</span> {{item.title}}

        </a>

      </div>

      <div ng-switch-when="false">
        Add an item to the queue.
      </div>

  </div>

</div>
